// @import "fonts";
:root {
  --bs-form-invalid-border-color:    #e4757581;
  --bs-form-valid-border-color:      #6bc36b81;
  
}

@media print{
    .noprint {
      display: none !important;
    }
}

.auth-loading #user-info,
.auth-loading #auth-buttons,
.auth-loading .user-info,
.auth-loading .auth-buttons {
  display: none !important;
}

#header{
  border-bottom: 1px solid grey;
}
 .row{
    margin-left: 0;
    margin-right: 0;
  }
  
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.note{
  background-color: #ffffcc9d;
  border-left: 4px solid #ffeb3bb7;
  padding: 10px;
  font-weight: 600;
}
